<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
   <servlet>
		<description></description>
		<display-name>Controller</display-name>
		<servlet-name>Controller</servlet-name>
		<servlet-class>com.javamaster.controller.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>Caja_Servlet</servlet-name>
        <servlet-class>Controlador.Caja_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>Controlador.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioServlet2</servlet-name>
        <servlet-class>Controlador.InventarioServlet2</servlet-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesServlet</servlet-name>
        <servlet-class>Controlador.ReportesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentasP</servlet-name>
        <servlet-class>Controlador.VentasP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>Controlador.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>REPServlet</servlet-name>
        <servlet-class>Controlador.REPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>Controlador.RegistroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Caja_Servlet</servlet-name>
        <url-pattern>/Caja_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioServlet2</servlet-name>
        <url-pattern>/InventarioServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesServlet</servlet-name>
        <url-pattern>/ReportesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentasP</servlet-name>
        <url-pattern>/VentasP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>REPServlet</servlet-name>
        <url-pattern>/REPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginServlet</welcome-file>
    </welcome-file-list>
</web-app>
